@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.title{
  font-family: "Graduate", sans-serif;
  font-size: 5em;
  animation: color-change 4s infinite;
  margin-bottom: 30px;
}

@keyframes color-change {
  0% { color: #004da3; }
  50% { color: #ffde00; }
  100% { color: #004da3; }
}

.App {
  width: 400px;
  height: 400px;
  background-color: #004da3;
  display: flex;
  user-select: none;
}

.showValue {
  width: 40px;
  height: 40px;
  display: flex;
  box-shadow: 0px 2px 2px black;
  -moz-box-shadow: 0px 2px 2px black;
  -webkit-box-shadow: 0px 2px 2px black;
  justify-content: center;
  align-items: center;
}

.emptyCell {
  background-color: #ffde00;
  color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px black;
  -moz-box-shadow: 0px 2px 2px black;
  -webkit-box-shadow: 0px 2px 2px black;
}

.showBomb {
  background-image: url("./riquelme.png");
  background-position: center;
  background-size: cover;
  color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px black;
  -moz-box-shadow: 0px 2px 2px black;
  -webkit-box-shadow: 0px 2px 2px black;
}

.hiddenValue {
  cursor: pointer;
  color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px black;
  -moz-box-shadow: 0px 2px 2px black;
  -webkit-box-shadow: 0px 2px 2px black;
}

.reload {
  margin-top: 30px;
  background-color: #ffde00; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 6px 4px 5px -4px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 6px 4px 5px -4px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 6px 4px 5px -4px rgba(0, 0, 0, 0.41);
  font-family: "Graduate", sans-serif;
  cursor: pointer;
  letter-spacing: 5px;
}
