@import url("https://fonts.googleapis.com/css2?family=Graduate&display=swap");

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.bocaTitle {
  font-family: "Graduate", sans-serif;
  font-size: 5em;
  animation: boca-color-change 4s infinite;
  margin-bottom: 30px;
}

.riverTitle {
  font-family: "Graduate", sans-serif;
  font-size: 5em;
  animation: river-color-change 4s infinite;
  margin-bottom: 30px;
}

@keyframes boca-color-change {
  0% {
    color: #004da3;
  }
  50% {
    color: #ffde00;
  }
  100% {
    color: #004da3;
  }
}

@keyframes river-color-change {
  0% {
    color: #ff0000;
  }
  50% {
    color: #fbd8d8;
  }
  100% {
    color: #ff0000;
  }
}

.blockBoard {
  pointer-events: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.bocaApp {
  width: 400px;
  height: 400px;
  background-color: #004da3;
  display: flex;
  user-select: none;
}

.riverApp {
  width: 400px;
  height: 400px;
  background-color: #fff;
  display: flex;
  user-select: none;
  -webkit-box-shadow: -1px 0px 15px -5px #000000;
  box-shadow: -1px 0px 15px -5px #000000;
}

.showValue {
  width: 40px;
  height: 40px;
  display: flex;
  box-shadow: 0px 2px 2px black;
  -moz-box-shadow: 0px 2px 2px black;
  -webkit-box-shadow: 0px 2px 2px black;
  justify-content: center;
  align-items: center;
}

.emptyCell {
  background-color: #ffde00;
  color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px black;
  -moz-box-shadow: 0px 2px 2px black;
  -webkit-box-shadow: 0px 2px 2px black;
}

.riverEmptyCell {
  background-color: #ff0000;
  color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px black;
  -moz-box-shadow: 0px 2px 2px black;
  -webkit-box-shadow: 0px 2px 2px black;
}
.showBomb {
  background-image: url("./riquelme.png");
  pointer-events: none;

  background-position: center;
  background-size: cover;
  color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px black;
  -moz-box-shadow: 0px 2px 2px black;
  -webkit-box-shadow: 0px 2px 2px black;
}

.riverShowBomb {
  background-image: url('./gallina.jpg');
  background-position: center;
  background-size: cover;
  color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px black;
  -moz-box-shadow: 0px 2px 2px black;
  -webkit-box-shadow: 0px 2px 2px black;
}
.hiddenValue {
  cursor: pointer;
  color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px black;
  -moz-box-shadow: 0px 2px 2px black;
  -webkit-box-shadow: 0px 2px 2px black;
}

.bocaReload {
  margin-top: 30px;
  background-color: #ffde00;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 6px 4px 5px -4px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 6px 4px 5px -4px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 6px 4px 5px -4px rgba(0, 0, 0, 0.41);
  font-family: "Graduate", sans-serif;
  cursor: pointer;
  letter-spacing: 5px;
}

.riverReload {
  margin-top: 30px;
  background-color: #ff0000;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 6px 4px 5px -4px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 6px 4px 5px -4px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 6px 4px 5px -4px rgba(0, 0, 0, 0.41);
  font-family: "Graduate", sans-serif;
  cursor: pointer;
  letter-spacing: 5px;
}

.riverChangeButton {
  background-color: #ff0000;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 6px 4px 5px -4px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 6px 4px 5px -4px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 6px 4px 5px -4px rgba(0, 0, 0, 0.41);
  font-family: "Graduate", sans-serif;
  cursor: pointer;
  letter-spacing: 5px;
  margin-top: 0px;
}
.change-team {
  font-family: "Graduate", sans-serif;
  letter-spacing: 5px;
  font-size: 16px;
}
.bocaChangeButton {
  margin-top: 0px;
  background-color: #ffde00;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 6px 4px 5px -4px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 6px 4px 5px -4px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 6px 4px 5px -4px rgba(0, 0, 0, 0.41);
  font-family: "Graduate", sans-serif;
  cursor: pointer;
  letter-spacing: 5px;
}

@media (max-width: 600px) {
  .container {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
  }

  .bocaTitle {
    font-size: 2.5em;
  }
  .riverTitle {
    font-size: 2.5em;
  }

  .bocaApp {
    width: 350px;
    height: 350px;

  }

  .riverApp {
    width: 350px;
    height: 350px;

  }

  .hiddenValue {
    width: 35px;
    height: 35px;

  }

  .showBomb {
    width: 35px;
    height: 35px;

  }

  .riverShowBomb {
    width: 35px;
    height: 35px;

  }

  .showValue {
    width: 35px;
    height: 35px;

  }

  .emptyCell {
    width: 35px;
    height: 35px;

  }

  .riverEmptyCell {
    width: 35px;
    height: 35px;

  }
}
